
body {
    margin: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.top-nav {
    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    margin-right: auto;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 16px;
}


.nav-link:hover {
    color: yellowgreen;
}